
.my-beautiful-label {
    -fx-font-size: 15.0;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-size: 14px;
    -jfx-button-type: RAISED;
    -fx-background-color: #2196F3;
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;
}

.my-border {
    -fx-padding: 5;
    -fx-border-color: blue;
    -fx-border-insets: 5;
    -fx-border-width: 3;
    -fx-border-style: solid;
}

.my-background {
    -fx-background-color: #E0E0E0;
}

.my-bottom-border {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #E0E0E0;
    -fx-border-style: solid;
    -fx-spacing: 10;
    -fx-padding: 0 0 5 0;
}

.my-grid-pane > * {
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #E0E0E0;
    -fx-border-style: solid;
    -fx-spacing: 10;
    -fx-padding: 0 0 5 0;
}

.my-card {
    -fx-background-radius: 2;
    -fx-spacing: 10;
    -fx-background-color: #FFFFFF;
    -fx-padding: 20;
    -fx-border-insets: 20;
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0), 0, 0, 0, 0);*/
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26), 10, 0.12, -1, 2);*/
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.26), 15, 0.16, 0, 4);
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26), 20, 0.19, 0, 6);*/
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26), 25, 0.25, 0, 8);*/
    /*-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.26), 30, 0.30, 0, 10;*/
}

.jfx-slider-style {
    -jfx-indicator-position: left;
}

.jfx-slider-style > .thumb {
    -fx-background-color: #FF4081;
}

.my-toggle-button {
    -jfx-toggle-color: #FF4081;
}

.jfx-slider-style .track {
    -fx-background-color: #E0E0E0;
    -fx-pref-height: 5px;
    -fx-pref-width: 5px;
}

.jfx-slider-style .sliderValue {
    -fx-stroke: WHITE;
    -fx-font-size: 10.0;
}